h3{
  font-family: 'Poppins',sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: -1.23px;
  text-align: left;
  color:#009688;
}

p, li{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
    font-weight: normal;
    font-size: 1.15rem;
    line-height: 1.35;
    /* identical to box height, or 171% */
    letter-spacing: -0.1px;
    /* Neutral / black */
    color: #445660;
}